@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Lato&family=Mynerve&display=swap");
body {
    background: #F2AC29 url(texture.png) repeat fixed;
    background-size: 15vmax;
    font-family: "Caudex", serif;
    color: #090A0F;
    font-size: 1vmax;
}
body img {
    height: 10vw;
    width: 10vw;
}
body #content {
    margin-left: 20vmin;
    margin-right: 20vmin;
    background-color: #FFF9DB;
    display: flex;
    flex-direction: column;
}
body #content header {
    flex-basis: 10%;
    display: flex;
    height: 10vmin;
    justify-content: space-between;
}
body #content header div {
    display: flex;
}
body #content header div h2 {
    text-align: center;
    font-weight: lighter;
}
body #content header div a img {
    height: 10vmin;
    width: 10vmin;
    box-sizing: border-box;
}
body #content header nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-basis: 40%;
    justify-content: center;
}
body #content header nav a {
    text-decoration: none;
    color: #595734;
    text-align: center;
    line-height: 10vmin;
    flex-basis: 33.3333333333%;
    height: 10vmin;
}
body #content header nav a:hover {
    backdrop-filter: brightness(90%);
    border-radius: 10%;
}
body #content footer {
    flex-basis: 10%;
    background-color: #F2C438;
    justify-content: center;
    text-align: center;
}
body #content footer p {
    font-family: "Mynerve", cursive;
    font-style: normal;
    font-weight: 400;
}
body #content p {
    font-family: "Caudex", serif;
    font-weight: normal;
}

#content {
    background-color: #8C884A;
}

#content main header {
    display: flex;
    justify-content: center;
}

#content main section {
    display: flex;
    flex-direction: column;
    background-color: #8C884A;
    color: white;
}

#content main section p {
    font-family: "Mynerve", cursive;
    font-size: 1.4rem;
}

#content main section article a {
    font-family: "Mynerve", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 35px;
    text-decoration: none;
    color: #F2C438;
}

#content main section #article-1 {
    padding: 5vh 5vw;
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: 5vw 10vw;
    column-gap: 5vw;
}

#content main section #article-1 h3 {
    font-size: 100%;
    grid-column: -2/-1;
    text-align: center;
    font-family: "Caudex", serif;
    font-weight: lighter;
}

#content main section #article-1 p {
    grid-column: -2/-1;
    grid-row: -2/-1;
}

#content main section #article-1 div {
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: #F2AC29;
    background-image: url("texture2.png");
    background-size: 10vmax;
    width: 15vw;
    height: 15vw;
}

#content main section #article-1 div img {
    width: 15vw;
    height: 15vw;
}

#content main section #article-2 {
    padding: 5vh 5vw;
}
