@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Lato&family=Mynerve&display=swap");
body {
    background: #F2AC29 url(texture.png) repeat fixed;
    background-size: 15vmax;
    font-family: "Caudex", serif;
    color: #090A0F;
    font-size: 1vmax;
}
body img {
    height: 10vw;
    width: 10vw;
}
body #content {
    margin-left: 20vmin;
    margin-right: 20vmin;
    background-color: #FFF9DB;
    display: flex;
    flex-direction: column;
}
body #content header {
    flex-basis: 10%;
    display: flex;
    height: 10vmin;
    justify-content: space-between;
}
body #content header div {
    display: flex;
}
body #content header div h2 {
    text-align: center;
    font-weight: lighter;
}
body #content header div a img {
    height: 10vmin;
    width: 10vmin;
    box-sizing: border-box;
}
body #content header nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-basis: 40%;
    justify-content: center;
}
body #content header nav a {
    text-decoration: none;
    color: #595734;
    text-align: center;
    line-height: 10vmin;
    flex-basis: 33.3333333333%;
    height: 10vmin;
}
body #content header nav a:hover {
    backdrop-filter: brightness(90%);
    border-radius: 10%;
}
body #content footer {
    flex-basis: 10%;
    background-color: #F2C438;
    justify-content: center;
    text-align: center;
}
body #content footer p {
    font-family: "Mynerve", cursive;
    font-style: normal;
    font-weight: 400;
}
body #content p {
    font-family: "Caudex", serif;
    font-weight: normal;
}

body #content main {
    background-color: #8C884A;
}
body #content main header {
    display: flex;
    justify-content: center;
    background-color: #FFF9DB;
    padding-bottom: 5vh;
}
body #content main section {
    padding: 10vh 10vw;
    gap: 10vh 10vw;
    color: #FFF9DB;
    display: flex;
    flex-direction: column;
}
body #content main section article {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2% 2%;
}
body #content main section article p {
    width: 50%;
}
body #content main section article img {
    width: 25vmin;
    height: 25vmin;
    order: -1;
}
body #content main section table, body #content main section td, body #content main section th {
    border: dotted 0.1rem #F2AC29;
}
body #content main section table {
    border-collapse: collapse;
}
body #content main section table tr:first-child th {
    background-color: #595734;
}

body #content main section table tr th {
    background-color: #8C884A;
}

body #content main section table tr td {
    background-color: #8F9946;
}

body #content main section form {
    background-color: #595734;
    background-image: url("texture2.png");
    padding: 1%;
    display: flex;
    justify-content: space-around;
}
body #content main section form p {
    font-family: "Mynerve", cursive;
    flex-basis: 50%;
}
body #content main section form div {
    flex-basis: 30%;
    display: flex;
    gap: 1%;
    flex-direction: column;
}
body #content main section form div input {
    font-family: "Mynerve", cursive;
    background-color: #8C840F;
    border: 0.1rem solid #8F9946;
    color: #FFF9DB;
}
body #content main section form div label {
    font-family: "Mynerve", cursive;
}
body #content main section form div button {
    color: #FFF9DB;
    font-family: "Mynerve", cursive;
    border-radius: 5%;
    border: 0.1rem solid #8F9946;
    padding: 1%;
    background-color: #8C884A;
}
