@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Lato&family=Mynerve&display=swap");

body {
    background: #F2AC29 url(texture.png) repeat fixed;
    background-size: 15vmax;
    font-family: "Caudex", serif;
    color: #090A0F;
}

body img {
    height: 10vw;
    width: 10vw;
}

body #content {
    margin-left: 18.75%;
    margin-right: 18.75%;
    background-color: #FFF9DB;
    display: flex;
    flex-direction: column;
}

body #content header {
    flex-basis: 10%;
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

body #content header div {
    display: flex;
}

body #content header div h2 {
    text-align: center;
    font-weight: lighter;
}

body #content header div a img {
    height: 5rem;
    width: 5rem;
    box-sizing: border-box;
}

body #content header nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-basis: 40%;
    justify-content: center;
}

body #content header nav a {
    text-decoration: none;
    color: #595734;
    text-align: center;
    line-height: 10vh;
    flex-basis: 33.3333333333%;
    height: 10vh;
}

body #content header nav a:hover {
    backdrop-filter: brightness(90%);
    border-radius: 10%;
}

body #content footer {
    flex-basis: 10%;
    background-color: #F2C438;
    justify-content: center;
    text-align: center;
}

body #content footer p {
    font-family: "Mynerve", cursive;
    font-style: normal;
    font-weight: 400;
}

body #content p {
    font-family: "Caudex", serif;
    font-weight: normal;
    color: #FFF9DB;
}

body #content main header {
    display: block;
    justify-content: center;
    background-color: #FFF9DB;
    height: 15vh;
    margin: 0;
}

body #content main header h1 {
    text-align: center;
    align-self: center;
    justify-self: center;
}

body #content main section {
    padding: 5vh 5vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 5vh;
    /*table, th, td{
      border: 0.1rem darkred dashed;
      border-collapse: collapse;
    }
    table{
      position: absolute;
      width: calc(0.625 * (100% - 16px ) - 10vw);
      height:
    }*/
    background-image: url("texture2.png");
    background-repeat: repeat;
    background-size: 30%;
}

body #content main section article {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 4rem 1fr;
    padding: 1vh 1vw;
    /*grid-template-areas:
    "title img"
    "text img"
    "text ."
    ". link";*/
}

body #content main section article h3 {
    grid-row: 1/2;
    grid-column: 1/2;
    color: #FFF9DB;
    font-family: "Mynerve", cursive;
}

body #content main section article img {
    grid-row: 1/3;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

body #content main section article div {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

body #content main section article div a {
    order: 1;
    font-family: "Mynerve", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 35px;
    text-decoration: none;
    color: #F2C438;
}

body #content main section article:nth-child(2n) {
    grid-column: 2/4;
    background-color: #595734;
}

body #content main section article:nth-child(2n+1) {
    grid-column: 1/3;
    background-color: #8C884A;
}

/*# sourceMappingURL=projects.css.map */
